# ignoring all dataset folders for sanity
.vscode/
*.swp
*.pyc
.env/*
assignment1/deeplearning/datasets
assignment1/.ipynb_checkpoints
assignment2/deeplearning/datasets/coco_captioning
assignment2/cs231n
assignment2/.ipynb_checkpoints
assignment3/dataset
assignment3/.ipynb_checkpoints
assignment3/models
assignment4/.ipynb_checkpoints
assignment4/data_pg
